/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 0;
  margin: 0;
  @apply bg-transparent dark:text-gray-400;
}

svg-icon {
  svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  :hover {
    color: #fff;
  }
}